body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../background.png);
    background-position: fixed;
}

header {
    background-image: url(../nav-bar.jpg);
    min-height: 200px;
    background-position-y: 40%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 65px;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

header h1:hover {
    color: hotpink;
}

nav {
    display: flex;
    justify-content: end;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    align-items: end;
}

ul {
    display: flex;
    gap: 20px;
    font-size: 35px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 20px;
    font: bold;
}

/*a {
    text-decoration: none;
    color: black;
}
*/
a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 hotpink;
    color: hotpink;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }

ul a:hover {
    box-shadow: inset 170px 0 0 0 hotpink;
    color: black;
}

main {
    flex-grow: 1;
    padding-top: 35px;
    
}

#about-me {
    display: inline;

    
}

p {
    padding-left: 350px;
    border: 2px solid red;
    width: 65%;
}

p:hover {
    
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    text-indent: 75px;
    padding-top: 60px;
    display: inline-flex;
    justify-content: start;
}

h2:hover {
    text-decoration: underline;
}

#my-work {
    display: inline;
    
}

.project-image {
   width: 100%;
}

#grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    #grid {
      flex-direction: column;
      grid-template-rows: auto auto auto auto;
      grid-template-columns: auto;
    }
  }

  /*
  @media screen and (min-width: 992px) {
    #grid {
      flex-direction: column;
      grid-template-rows: auto;
      grid-template-columns: auto auto auto auto;
    }
  }
*/

#projects {
    border: 2px solid red;
    max-width: 1000px;
    margin: auto;
}

#big-proj{
    border: 3px solid blue;
    padding-bottom: 20px;
}

footer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    justify-items: bottom;
    align-content: space-between;
    padding: 25px;
    text-align: bottom;
    align-items: bottom;
}

footer img {
    width: 45px;
    height: 45px;
    align-items: bottom;
    align-content: bottom;
}

h3 {
    display: flex;
    justify-content: bottom;
    height: 100%;
    align-items: bottom;
    align-content: bottom;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:22px;
}