.root {

}

* {
    background-color: dimgrey;
}

header {
    font-size:xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: yellow;
}

.name {

}

header p {
    padding: 40px;
}

ul {
    overflow: visible;
}

.menu {
    position: relative;
  }

.menu li {
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    justify-content: space-evenly;
    text-decoration: none;
}

nav img {
    height: auto;
    max-width: 100%;
    position: relative;
}

nav ul {
    display: flex;
    justify-content:left;
  }

nav a {
    color:darkviolet;
    text-decoration: none;
}

nav a:hover {
    color:aqua;
  }

h1 {
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
    padding-left: 20px;
}

main {

}

aside {

}

section {
align-content: center
}

.bear {
    width: 45px;
    height: 45px;
}





/* I WANT TO USE SOMETHING LIKE THIS

a[href$=".css"]::after {
    content: "📝"
  }



@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}

  */