body {
    display: flex;
    flex-direction: column;
    

    min-height: 100vh;
}

header {
    background-image: url(../nav-bar.jpg);
    min-height: 200px;
    background-position-y: 100%;
    display: flex;
    flex-direction: column;
}

h1 {

    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    align-items: end;
}

ul {
    display: flex;
    gap: 20px;
}

main {
    flex-grow: 1;
    
}

.project-image {
   width: 100%
}

#grid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    #grid {
      flex-direction: column;
      grid-template-rows: auto auto auto auto;
      grid-template-columns: auto;
    }
  }

#projects {
    border: 2px solid red;
    max-width: 1000px;
    margin: auto;
}

#big-proj{
    border: 3px solid blue;
}

footer {
    
}